// geo<%> clase de contenedor, según cómo se quiera imprimir.

.main.tools,
.main.algebra {
  margin-left: inherit;
  background-color: #fff;
}
.GeoGebraFrame {
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-image: unset;
  }
}

th,
td {
  min-width: unset;
}

.gwt-MenuItem {
  &::before {
    display: none;
  }
}
ul.gwt-MenuBar {
  padding-left: 0;
  li::before {
    display: none;
  }
}

.geo-app {
  position: relative;
  width: 100%;
  contain: content;
  height: min-content;
  margin: auto;
  > div {
    position: relative;
  }
}

.geo-app.ratio-16-9::before {
  float: left;
  padding-top: 56.25%;
  content: "";
}

.geo-app.ratio-8-3::before {
  float: left;
  padding-top: 37.5%;
  content: "";
}

@media (prefers-color-scheme: dark) {
  .geo-app::before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #0007;
  }
}
