@use "sass:map";
$colores-deg-sitio: (
  deg-sitio:
    linear-gradient(
      to top,
      rgb(170, 122, 0) 0%,
      rgb(182, 155, 0) 60%,
      rgb(226, 181, 0) 100%
    ),
  alter-sitio: #cea500,
  deg-sitio-texto-color: #fff,
  alter-sitio-texto-color: #fff,
);
$link-color: $grey-dk-300;
$body-font-family: "Raleway", sans-serif;
$mono-font-family: "Ubuntu Mono", monospace;
