$colores-deg-sitio: (
  deg-sitio: linear-gradient(to top, #21d4fd 0%, #b721ff 100%),
  alter-sitio: #6b7afe,
  deg-sitio-texto-color: #fff,
  alter-sitio-texto-color: #fff,
);

$link-color: $grey-dk-300;
$body-font-family: "Raleway", sans-serif;
$mono-font-family: "Ubuntu Mono", monospace;
