<!-- Tema -->
{% if page.tema == nil %}
<link rel="stylesheet" rel="preload" as="styles" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}" media="(prefers-color-scheme: light)">
{% else %}
<link rel="stylesheet" rel="preload" as="styles" href="{{ '/assets/css/just-the-docs-' | append: page.tema | append: '.css' | relative_url }}" media="(prefers-color-scheme: light)">
{% endif %}
{% if page.tema_oscuro == nil %}
<link rel="stylesheet" rel="preload" as="styles" href="{{ '/assets/css/just-the-docs-SitioOscuro.css' | relative_url }}" media="(prefers-color-scheme: dark)">
{% else %}
<link rel="stylesheet" rel="preload" as="styles" href="{{ '/assets/css/just-the-docs-' | append: page.tema_oscuro | append: '.css' | relative_url }}" media="(prefers-color-scheme: dark)">
{% endif %}

<!-- Fuentes -->
<!--Quicksand-->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" rel="prefetch" as="font" crossorigin>
<!--Raleway-->
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" rel="prefetch" as ="font" crossorigin>
<!--Ubuntu Mono-->
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" rel="prefetch" as="font" crossorigin>

<!-- MathJax -->
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6" defer rel="prefetch" as="script"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer rel="prefetch" as="script"></script>
<script type="text/x-mathjax-config" defer rel="prefetch" as="script">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [ ['\(','\)']],
      displayMath: [ ['$$','$$']],
        preview: ["..."],
        processEscapes: false
      }
    });
</script>

<!--Geogebra-->
<script src="https://www.geogebra.org/apps/deployggb.js" rel="prefetch" as="script"></script>
<!--Font Awesome
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
-->

<!--JoyPixels-->
<link rel="stylesheet" rel="prefetch" as="styles" href="https://cdn.jsdelivr.net/npm/emoji-toolkit@6.0.0/extras/css/joypixels-awesome.css" defer importance="low">
<link rel="stylesheet" rel="prefetch" as="styles" href="https://cdn.jsdelivr.net/gh/polynomm/joypixels-extra@1.3/joypixels-extra.css" defer importance="low">